@tailwind base;
@tailwind components;
@tailwind utilities;

.box-custom-2-bg {
  height: 800px;
    overflow: hidden;
    transform: rotate(-18deg);
    border-radius: 87px;
    background: #313539;
    position: absolute;
    top: 37px;
    left: 100px;
    right: -104px;
    width: 803px;
}

.box-custom-2-bg-inner {
  height: 100%;
    position: relative;
}

.box-custom-2-bg-image{
  height: 100%;
  transform: rotate(20deg);
  position: absolute;
  top: -71px;
  left: -77px;
  right: 0;
  bottom: 0;
}

.form-side {
  margin: 179px;
}

.form-side h2{
  
}
.form-side h5{}